<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>IndivoWF</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <display-name>IndivoWF</display-name>
  <servlet>
    <servlet-name>TestClient</servlet-name>
    <servlet-class>uk.ac.dotrural.trump.indivowf.test.TestClient</servlet-class>
    <init-param>
      <param-name>consumerKey</param-name>
      <param-value>dameramu@abdn.ac.uk</param-value>
    </init-param>
    <init-param>
      <param-name>consumerSecret</param-name>
      <param-value>testclient</param-value>
    </init-param>
    <init-param>
      <param-name>serverBaseURL</param-name>
      <param-value>http://localhost:8000</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestClient</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>